.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    overflow: hidden;
    background-color: rgba(147, 74, 37, 0.5);
    border-radius: 1rem;
    margin-top: 1rem;
    border: solid 1.5px black;
}
.banner:hover {
    border-bottom: solid white 1.5px;
    border-left:solid white 1.5px ;
    transition: border-color 0.5s ease;
}
.bannerBackdrop {
    flex: 1;
    z-index: -1;
    height: 100%;
}
.imgBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bannerContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.625rem;
    color: white;
    text-align: center;
}
.link {
    text-decoration: none;
    color: inherit;
}
.link h2 {
    text-decoration: underline;
}
@media (min-width:768px){
    .banner {
        width: 97%;
        flex-direction: row;
    }
}