.navBar{
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.searchAndLogOut{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
